<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.asuper.mluvitslova">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.choose.DictionaryActivity" />
        <activity android:name=".activities.study.DictionaryStudyActivity" />
        <activity android:name=".activities.choose.DictionaryChoiseActivity" />
        <activity android:name=".activities.study.TextTranslationActivity" />
        <activity android:name=".activities.study.bigtext.BigTextReadingActivity" />
        <activity android:name=".activities.study.bigtext.BigTextChoiseActivity" />
        <activity android:name=".activities.study.bigtext.BigTextQuestionsActivity" />
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>